.menu-container {
    -fx-background-color: #264653;
}

.back-button {
    -fx-background-color: #e76f51;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.menu-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #e76f51;
}

.game-button {
    -fx-pref-width: 180px;
    -fx-pref-height: 120px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
    -fx-background-color: #2a9d8f;
}

.game-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}